body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    
}

main {
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    gap: 10px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    font-family: "Roboto";
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

ul a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.section-1 {
    display: flex;
    justify-content: center;
    gap: 0px;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 270px;
}


#section-1a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    min-width: 200px;
    flex: 1 1 0;
    margin: 0;
}

.subtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#subtext-width {
    width: 350px;
}

#signup-btn {
   
    width: fit-content;
    background-color: #3882f6;
    height: 40px;
    width: 130px;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    border-style: none;
    font-weight: 600;
}


#section-1a p {
    margin: 0;
    padding: 0;
}

#hero-main {
    font-size: 48px;
    margin-bottom: 0px;
    font-family: "Roboto";
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

#for-padding {
   padding-top: 3px;
}

.container img {
    border: solid #3e84f4 4px;
    width: 180px;
    height: 180px;
    border-radius: 30px;
}

.text {
    width: 180px;
}
.cover {
    height: 350px;
    width: 200px;
    padding: 0;
    margin: 0;
    flex: 1 5 0;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 10px;
    color:#E5E7EB
}

.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    
}

.items {
    overflow: hidden;

}

.section-2 {
    text-align: center;
    margin: 50px;
}

#section2-header {
    margin-top: 0;
    font-size: 32px;
    font-weight: 800;
}

/* Start of section 3 */

.section-3{
    background-color: #e6e7eb;
    width: auto;
    min-height: 250px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0px;
}

.quote {
    font-size: 32px;
    font-style: italic;
    width: 44%;
    color: #1F2937;
    font-family:'Roboto';
}

.quote p{
    margin: 0;
}

#push-right {
    margin-left: 70%;
    font-weight: bold;
}

/* Start of section 4 */

.section-4 {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    
}

#wrap {
    background-color: #3882f6;
    width: 60vw;
    height: 140px;
    border-radius: 5px;
    display: flex;
    gap: 3px;
    justify-content: space-evenly;
    align-items: center;
}

#last-items1 {
    font-size: 24px;
    font-weight: 800px;
}

.last-container {
    color: white;
    font-family: 'Roboto';
}
#last-btn {
    background-color: #3882f6;
    height: 40px;
    width: 130px;
    border: 3px solid white;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 25px;
    align-items: center;
    
}


 @media screen and (max-width: 800px) {
    .section-1 {
        padding: 0;
        flex-wrap: wrap;
    }
    
}